<div class="container-fluid pb-1">
  <div class="py-3 mx-2" *ngIf="!advisors">
    <mat-progress-bar *ngIf="!advisors && !error" mode="indeterminate" ></mat-progress-bar>
    <div *ngIf="error" class="alert alert-danger mb-0" role="alert">{{ error }}</div>
  </div>
  <div class="row justify-content-center" *ngFor="let advisor of advisors">
    <div class="col-xl-10">
      <mat-card class="dashboard-card mb-0">
        <mat-card-header class="dashboard-card-header">
          <mat-card-title class="dashboard-card-title">
            <h5><small>{{ advisor.type }} Advisor</small></h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="background-color: black; padding-top: 0; padding-bottom: 0;">
          <div class="row">
            <div class="col-12 col-sm-6 text-center pt-3 pb-3">
              <div class="avatar-container" style="width: 80px; height: 80px;">
                <img class="avatar-content" src="assets/images/avatar.jpg" width="80" height="80" style="max-width: 100%; border-radius: 50%;">
              </div>
              <br>
              <div class="mt-2">
                <h5 style="color: #FFC72C;">{{ advisor.fName }} {{ advisor.lName }}</h5>
                <h6 style="color: #FFC72C;">{{ advisor.department }} {{ advisor.position }}</h6>
              </div>
              <div class="mt-1">
                <button mat-raised-button type="button" color="primary" class="mt-2 mr-2" (click)="openDialog(advisor.email, 'message')">Send Message</button>
                <button mat-raised-button type="button" color="primary" class="mt-2" (click)="openDialog(advisor.email, 'appointment')">Request Appointment</button>
              </div>
            </div>
            <div class="col-12 col-sm-6 pt-3 pb-4" style="background-color:rgb(250,250,250)">
              <mat-nav-list>
                <mat-list-item>
                  <h6 matLine class="font-weight-bold">Office: <small class="float-right font-weight-light">{{ advisor.office }}</small></h6>
                  <mat-divider color="accent"></mat-divider>
                </mat-list-item>        
                <mat-list-item>
                  <h6 matLine class="font-weight-bold">Email: <small class="float-right font-weight-light">{{ advisor.email }}</small></h6>
                  <mat-divider color="accent"></mat-divider>
                </mat-list-item>
                <mat-list-item>
                  <h6 matLine style="white-space:normal" class="font-weight-bold">Phone: <small class="float-right font-weight-light">{{ advisor.phone }}</small></h6>
                  <mat-divider color="accent"></mat-divider>
                </mat-list-item>
              </mat-nav-list>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
