<div class="row"  style="background-color: #ffc72c; margin: 0; padding: 0;">
  <div class="col" style="padding: .5em 0 0 1em">
    <h2 mat-dialog-title cdkFocusInitial class="mb-1">Holds</h2>
  </div>
  <div class="col text-right" style="padding-right: .25em">
    <button mat-icon-button mat-dialog-close><mat-icon class="md-24">close</mat-icon></button>
  </div>
</div>
<mat-dialog-content style="margin: 0; padding: 0;">
  <mat-divider color="accent"></mat-divider>
  <mat-progress-bar *ngIf="!holds && !error" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="error" class="alert alert-danger mb-0" role="alert">{{ error }}</div>
  <mat-nav-list class="pt-0">
    <span *ngFor="let hold of holds">
      <a mat-list-item routerLink="{{ '../' + hold.path }}" (click)="closeSelf()">
        <mat-icon matListIcon class="text-danger">warning</mat-icon>
        <p matLine style="white-space:normal" class="font-weight-bold">{{ hold.msg }}</p>
        <mat-icon>arrow_forward</mat-icon>
      </a>
      <mat-divider color="accent"></mat-divider>
    </span>
  </mat-nav-list>
</mat-dialog-content>
