<mat-tab-group (selectedTabChange)="onSelectTab($event)" dynamicHeight="true">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="d-none d-sm-block">List View</span>
      <span class="d-block d-sm-none">List</span>
    </ng-template>
    <div class="container-fluid">
      <div class="row">
        <div class="col scheduleView">
          <app-list-view 
            [classes]="classes" 
            [semester]="semester"
            [viewDate]="viewDate"
            [view]="view"
            [title]="title">
          </app-list-view>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="d-none d-sm-block">Daily View</span>
      <span class="d-block d-sm-none">Day</span>
    </ng-template>
    <div class="container-fluid">
      <div class="row">
        <div class="col scheduleView">
          <app-daily-view 
            [viewDate]="viewDate" 
            [events]="events"
            [view]="view"
            [title]="title">
          </app-daily-view>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="d-none d-sm-block">Weekly View</span>
      <span class="d-block d-sm-none">Week</span>
    </ng-template>
    <div class="container-fluid">
      <div class="row">
        <div class="col scheduleView">
          <app-weekly-view
            [viewDate]="viewDate" 
            [events]="events"
            [view]="view"
            [title]="title">
          </app-weekly-view>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="d-none d-sm-block">Monthly View</span>
      <span class="d-block d-sm-none">Month</span>
    </ng-template>
    <div class="container-fluid">
      <div class="row">
        <div class="col scheduleView">
          <app-monthly-view
            [viewDate]="viewDate" 
            [events]="events"
            [view]="view"
            [title]="title">
          </app-monthly-view>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-right">
      <button mat-fab id="downloadButton" type="button" color="primary"><mat-icon>file_download</mat-icon></button>
    </div>
  </div>
</div>
  