mat-card-content.dashboard-card-content {
    padding : 0;
}

mat-nav-list {
    padding : 0;
}

.mat-list-item {
    height:auto; 
    padding-top:0.5em; 
    padding-bottom:0.5em;
}

mat-icon {
    font-size : 2.5em; 
    height:auto; 
    width: auto;
}

mat-icon.mat-list-icon.mat-icon.material-icons {
    font-size : 2.5em; 
    height:auto; 
    width: auto;
}

