<mat-card class="dashboard-card">
    <mat-card-header class="dashboard-card-header">
      <mat-card-title class="dashboard-card-title"><h5>Upcoming Classes</h5></mat-card-title>
    </mat-card-header>
    <mat-card-content class="dashboard-card-content">
      <mat-nav-list>
        <span *ngFor="let class of upcomingClasses">
          <a mat-list-item style="height:auto;" (click)="openDialog(class)">
            <mat-icon matListIcon>{{ class.icon }}</mat-icon>
            <h6 matLine style="white-space:normal" class="font-weight-bold">{{ class.number }} - {{ class.title }}</h6>
            <p matLine style="white-space:normal" class="font-weight-light">{{ class.location }} - {{ class.day }} {{ class.startTime.toLocaleTimeString() }} - {{ class.endTime.toLocaleTimeString() }}</p>
            <mat-icon>open_in_browser</mat-icon>
          </a>
          <mat-divider color="accent"></mat-divider>
        </span>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
