<mat-card class="dashboard-card mb-0">
  <mat-card-header class="dashboard-card-header">
    <mat-card-title class="dashboard-card-title pr-3">
      <span class="float-right" style="margin-top: -0.5em;">
          <button mat-icon-button matTooltip="Add Authorized Payer" matTooltipShowDelay="700" (click)="openAuthorizedPayersDialog()"><mat-icon>add_circle_outline</mat-icon></button>
      </span>
      <h5><small>Authorized Payers</small></h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <mat-progress-bar *ngIf="!payers && !error" mode="indeterminate"></mat-progress-bar>
    <div *ngIf="error" class="alert alert-danger mb-0" role="alert">{{ error }}</div>
    <div *ngIf="payers && payers.data.length === 0">There are no authorized payers associated with your username.</div>
    <div class="table-container">
      <table mat-table [dataSource]="payers" *ngIf="payers && payers.data.length > 0">
        <!-- Payer Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="text-truncate">Name</th>
          <td mat-cell 
            *matCellDef="let payer" 
            matTooltip="{{payer.name}}"
            matTooltipPosition="after"
            class="row-title"> 
            <b>{{ payer.name }}</b>
          </td>
        </ng-container>
      
        <!-- Start Date Column -->
        <ng-container matColumnDef="startDate">
          <th mat-header-cell *matHeaderCellDef class="column-title"><div class="mx-auto text-center">Start Date</div></th>
          <td mat-cell 
            *matCellDef="let payer" 
            matTooltip="{{payer.startDate.toLocaleDateString()}}"
            matTooltipPosition="after"
            class="text-center text-truncate table-data">
            <div class="mx-auto text-center">{{ payer.startDate.toLocaleDateString() }}</div>
          </td>
        </ng-container>
      
        <!-- End Date Column -->
        <ng-container matColumnDef="endDate">
          <th mat-header-cell *matHeaderCellDef class="column-title"><div class="mx-auto text-center">End Date</div></th>
          <td mat-cell 
            *matCellDef="let payer" 
            matTooltip="{{payer.endDate.toLocaleDateString()}}"
            matTooltipPosition="after"
            class="text-truncate table-data">
            <div class="mx-auto text-center">{{ payer.endDate.toLocaleDateString() }}</div> 
          </td>
        </ng-container>
      
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="column-title"><div class="mx-auto text-center">Email</div></th>
          <td mat-cell 
            *matCellDef="let payer" 
            matTooltip="{{payer.email}}"
            matTooltipPosition="after"
            class="text-truncate table-data">
            <div class="mx-auto text-center">{{ payer.email }}</div>
          </td>
        </ng-container>

        <!-- Date Created Column -->
        <ng-container matColumnDef="dateCreated">
          <th mat-header-cell *matHeaderCellDef class="column-title"><div class="mx-auto text-center">Date Created</div></th>
          <td mat-cell 
            *matCellDef="let payer"
            matTooltip="{{payer.dateCreated.toLocaleDateString()}}"
            matTooltipPosition="after" 
            class="text-truncate table-data">
            <div class="mx-auto text-center">{{ payer.dateCreated.toLocaleDateString() }}</div>
          </td>
        </ng-container>

        <!-- Changed By Column -->
        <ng-container matColumnDef="changedBy">
          <th mat-header-cell *matHeaderCellDef class="column-title"><div class="mx-auto text-center">Edited By</div></th>
          <td mat-cell *matCellDef="let payer" class="table-data"><div class="mx-auto text-center">{{ payer.changedBy }}</div></td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="text-right column-title"></th>
          <td mat-cell *matCellDef="let payer">
            <div class="ml-auto text-right">
              <button mat-icon-button (click)="openAuthorizedPayersDialog(payer)"><mat-icon>edit</mat-icon></button> 
              <button mat-icon-button (click)="openAuthorizedPayersDialog(payer, 'delete')"><mat-icon>highlight_off</mat-icon></button>
            </div>
          </td>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </table>
    </div>
  </mat-card-content>
</mat-card>
