.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.dashboard-toolbar {
    position: fixed;
    top: 0px;
    /* Make sure the toolbar will stay on top of the content as it scrolls past.*/ 
    z-index: 2;
    box-shadow: 0px 1px 2px rgb(132, 132, 132);
}

button:focus {
    outline: none;
}

#search-input {
    position: fixed; 
    top: 10px; 
    right: 45px; 
    width: 30%;
    padding-right: 1em;
}

.logo {
    position : fixed; 
    top : 0; 
    right : 0;
    padding-right: 10px;
}

#sidenav {
    background-color : black;
    color : #ffc72c;
    box-shadow: 2px 0px 2px #505050;
}

mat-divider {
    background-color : lightgray;
}

.main {
    margin-top: 64px; 
    padding-bottom: 1em;
}

@media (max-width: 600px) {
    .logo {
        top : -4px; 
    }  
    .main {
        margin-top: 56px;
    }
}

@media (min-width: 412px) {
    #search-input {  
        right: 15px; 
    }  
}

@media (min-width: 468px) {
    #search-input {  
        right: 0px; 
    }  
}

@media (min-width: 576px) {
    #search-input {  
        right: 110px; 
    }  
}

@media (min-width: 600px) {
    #search-input { 
        top: 14px; 
    }  
}

@media (min-width: 768px) {
    #search-input { 
        width: 24%;
    }  
}

@media (min-width: 835px) {
    #search-input { 
        width: 30%;
    }  
}

.nav-header {
    -webkit-flex: initial; /* Safari 6.1+ */
    -ms-flex: initial; /* IE 10 */ 
    flex: initial;
}

.nav-main {
    -webkit-flex: auto; /* Safari 6.1+ */
    -ms-flex: auto; /* IE 10 */ 
    flex: auto;
    overflow:auto;
}
.nav-footer {
    -webkit-flex: initial; /* Safari 6.1+ */
    -ms-flex: initial; /* IE 10 */ 
    flex: initial;
}

.nav-footer mat-icon {
    color : rgba(255, 199, 44, 0.75);
}

.nav-footer mat-icon.highlight {
    color : #ffc72c !important;
}