<mat-card class="dashboard-card grades-card mb-0">
  <mat-card-header class="dashboard-card-header pt-0 pr-3">
    <mat-card-title class="dashboard-card-title mb-0">
      <h5 class="mb-0">
        <small>
          <mat-form-field class="d-block d-sm-inline-flex">
            <mat-select [(value)]="selectedTerm" (selectionChange)="changeTerm($event)">
              <mat-option *ngFor="let term of terms" [value]="term">
                {{ term }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span class="d-none d-sm-inline">&emsp;|&emsp;</span>
          <mat-form-field class="d-block d-sm-inline-flex">
            <mat-select [(value)]="selectedSemester" (selectionChange)="changeSemester($event)">
              <mat-option *ngFor="let semester of semesters" [value]="semester">
                {{ semester }}
              </mat-option>
            </mat-select>
          </mat-form-field> 
        </small>
      </h5>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <mat-table [dataSource]="dataSource">
      <!-- Course Column -->
      <ng-container matColumnDef="course">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell 
          *matCellDef="let element" 
          matTooltip="{{element.courseNumber}} - {{element.courseSection}}: {{element.courseTitle}}"
          matTooltipPosition="after" 
          class="row-title text-truncate" > 
          <b>{{element.courseNumber}}<span class="d-none d-sm-inline"> - {{element.courseSection}}</span></b><br>
          <small class="d-none d-md-inline">{{element.courseTitle}}</small> 
        </mat-cell>
      </ng-container>
    
      <!-- Grade Column -->
      <ng-container matColumnDef="grade">
        <mat-header-cell *matHeaderCellDef class="text-center column-title"> Grade </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-center"> {{element.grade}} </mat-cell>
      </ng-container>
    
      <!-- Attempted Hours Column -->
      <ng-container matColumnDef="attemptedHours">
        <mat-header-cell *matHeaderCellDef class="text-center column-title"> Attempted Hours </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-center"> {{element.attemptedHours | number:'1.1-2'}} </mat-cell>
      </ng-container>
    
      <!-- Earned Hours Column -->
      <ng-container matColumnDef="earnedHours">
        <mat-header-cell *matHeaderCellDef class="text-center column-title"> Earned Hours </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-center"> {{element.earnedHours | number:'1.1-2'}} </mat-cell>
      </ng-container>

      <!-- Quality Hours Column -->
      <ng-container matColumnDef="qualityHours">
        <mat-header-cell *matHeaderCellDef class="text-center column-title"> Quality Hours </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-center"> {{element.qualityHours | number:'1.1-2'}} </mat-cell>
      </ng-container>

      <!-- Quality Points Column -->
      <ng-container matColumnDef="qualityPoints">
        <mat-header-cell *matHeaderCellDef class="text-center column-title"> Quality Points </mat-header-cell>
        <mat-cell *matCellDef="let element" class="text-center"> {{element.qualityPoints | number:'1.1-2'}} </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-card-actions style="width:100%">
      <div class="col text-right pb-1">
        <button mat-icon-button id="pdfButton" type="button" matTooltip="Save PDF" matTooltipShowDelay="500"><mat-icon class="md-24">picture_as_pdf</mat-icon></button>
        <button mat-icon-button id="downloadButton" type="button" class="mr-2" matTooltip="Download .CSV" matTooltipShowDelay="500"><mat-icon class="md-24">file_download</mat-icon></button>
      </div>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
