@media (max-width: 576px) {
    .grades-col {  
        padding: 0 !important; 
    }    
    mat-card-content.dashboard-card-content {
        padding : 0;
    }
    .row-title {
        font-size: 80%;
    }
    .column-title {
        font-size: 79%;
    }

    td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
        flex: 1 !important;
    }
}

.mat-header-row, .mat-row {
    padding: 0 16px;
}

.mat-header-row {
    background-color: #FFC72C;
}

.mat-header-cell {
    color: black !important;
    font-weight: bold !important;
}

.table-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.mat-cell, .mat-footer-cell, .mat-header-cell {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    border-bottom-width: 0;
}

td.mat-cell:first-child, td.mat-footer-cell:first-child, th.mat-header-cell:first-child {
    padding-left: 0;
    flex: 2;
}

td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
    padding-right: 0;
}

button:focus {
    outline: none;
}