mat-card-content.dashboard-card-content {
    padding-bottom : 0;
}

mat-icon {
    font-size : 2.5em; 
    height:auto; 
    width: auto;
}

mat-icon.mat-list-icon.mat-icon.material-icons {
    font-size : 2.5em; 
    height:auto; 
    width: auto;
}

@media (max-width: 576px) {
    .schedule-card {  
        margin-top: 0 !important; 
    }  
}