<mat-card class="dashboard-card schedule-card mb-3">
  <app-view-header 
    [viewDate]="viewDate" 
    [view]="view"
    [title]="title" 
    (dateChange)="viewDateChange($event)">
  </app-view-header>
  <mat-card-content class="dashboard-card-content">
      <mwl-calendar-week-view 
        [viewDate]="viewDate" 
        [events]="events"
        (eventClicked)="eventClicked($event.event)"> 
      </mwl-calendar-week-view>
      <mat-card-actions>
        <div class="col text-right pb-1">
          <button mat-icon-button id="pdfButton" type="button" class="mr-2" matTooltip="Save as PDF" matTooltipShowDelay="500"><mat-icon class="md-24">picture_as_pdf</mat-icon></button>
          <button mat-icon-button id="downloadButton" type="button" class="mr-2" matTooltip="Download .ICS file" matTooltipShowDelay="500"><mat-icon class="md-24">file_download</mat-icon></button>
        </div>
      </mat-card-actions>
  </mat-card-content>
</mat-card>
