mat-card-content.dashboard-card-content {
    padding-bottom : 0;
}

mat-icon {
    font-size : 2.5em; 
    height:auto; 
    width: auto;
}

mat-icon.mat-list-icon.mat-icon.material-icons {
    font-size : 2.5em; 
    height:auto; 
    width: auto;
}

button:focus {
    outline: none;
}

@media (max-width: 576px) {
    .schedule-card {  
        margin: 0 !important; 
    } 
    .dashboard-card-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    } 
}