<div class="position-relative d-none d-sm-block" style="height:auto;">
  <img src="./assets/images/banner.jpg" class="img-fluid" alt="bannerImg">
  <div class="row align-items-end position-absolute profile-header no-gutters" style="padding-left:5%;">
    <div class="col-2 profile-avatar" *ngIf="showProfileAvatar">
      <div class="row align-items-center justify-content-center" style="background-color: rgba(0,0,0,0.8);  border-radius: 100%; height:130px; width:130px; margin-left:0;">
        <ngx-avatar class="student-avatar col " src="assets/images/avatar.jpg" size="100" round="true" style="padding:15px;"></ngx-avatar>
      </div>
    </div>
    <div class="col-7" style="color:#ffc72c; padding-left:2%;">
      <h2><span style="background-color: rgba(0,0,0,0.8); padding: 0 1.5em 0 .5em;">{{ student.name }}</span></h2>
      <h3><span style="background-color: rgba(0,0,0,0.8); padding: 0 1.5em 0 .5em;">{{ student.major }}</span></h3>
    </div>
    <div class="col text-right" style="color:#ffc72c">
      <h5><span style="background-color: rgba(0,0,0,0.8); padding: 0 .5em 0 1.5em;">GPA: {{ gpa | number : '1.2-2' }}</span></h5>
      <h5><span style="background-color: rgba(0,0,0,0.8); padding: 0 .5em 0 1.5em;">Due: {{ accountBalance | currency}}</span></h5>
    </div>
  </div>
</div>
<div class="profile-body">
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="About">
      <div class="container-fluid profile-container">
        <div class="row pb-1">
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row">
              <div class="col">
                <app-norse-feed></app-norse-feed>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-5">
            <div class="row">
              <div class="col">
                <app-student-info></app-student-info>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Academics" >
      <div class="container-fluid profile-container">
        <div class="row pb-1">
          <div class="col-12 col-xl-7">
            <div class="row">
              <div class="col">
                <app-upcoming-classes></app-upcoming-classes>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <app-academic-plan-next-semester></app-academic-plan-next-semester>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="row">
              <div class="col">
                <app-latest-grades></app-latest-grades>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Account" >
      <div class="container-fluid profile-container">
        <div class="row pb-1">
          <div class="col-12 col-xl-7">
            <div class="row">
              <div class="col">
                <app-upcoming-classes></app-upcoming-classes>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <app-academic-plan-next-semester></app-academic-plan-next-semester>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="row">
              <div class="col">
                <app-latest-grades></app-latest-grades>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>