<div class="position-relative d-none d-sm-block" style="height:auto;">
  <img [src]="'./assets/images/' + bannerImg" class="img-fluid" alt="bannerImg">
  <div class="row align-items-end position-absolute profile-header no-gutters" style="padding-left:5%;">
    <div class="col-2 profile-avatar" *ngIf="showProfileAvatar">
      <div class="row align-items-center justify-content-center" style="background-color: rgba(0,0,0,0.8);  border-radius: 100%; height:130px; width:130px; margin-left:0;">
        <div class="avatar-container" style="width: 100px; height: 100px;">
          <img class="avatar-content" src="assets/images/avatar.jpg" width="100" height="100" style="max-width: 100%; border-radius: 50%;">
        </div>
      </div>
    </div>
    <div class="col-auto" style="color:#ffc72c; padding-left:2%;">
      <h2><span style="background-color: rgba(0,0,0,0.8); padding: 0 1.5em 0 .5em;">{{ student.name }}</span></h2>
      <h3><span style="background-color: rgba(0,0,0,0.8); padding: 0 1.5em 0 .5em;">{{ student.major }}</span></h3>
    </div>
    <div class="col text-right" style="color:#ffc72c">
      <h5><span style="background-color: rgba(0,0,0,0.8); padding: 0 .5em 0 1.5em;">GPA: {{ gpa | number : '1.2-2' }}</span></h5>
      <h5><span style="background-color: rgba(0,0,0,0.8); padding: 0 .5em 0 1.5em;">Due: {{ accountBalance | currency}}</span></h5>
    </div>
  </div>
</div>
<div class="profile-body" style="min-height:800px">
  <mat-tab-group dynamicHeight="false">
    <mat-tab label="About">
      <div class="container-fluid">
        <div class="row pb-1">
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row">
              <div class="col">
                <app-norse-feed></app-norse-feed>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 col-xl-5">
            <div class="row">
              <div class="col">
                <app-student-info></app-student-info>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Academics" >
      <div class="container-fluid">
        <div class="row pb-1">
          <div class="col-12 col-xl-7">
            <div class="row">
              <div class="col">
                <app-upcoming-classes></app-upcoming-classes>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <app-academic-plan-next-semester></app-academic-plan-next-semester>
              </div>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="row">
              <div class="col">
                <app-latest-grades></app-latest-grades>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Account" >
      <div class="container-fluid">
        <div class="row pb-1">
          <div class="col-12 col-lg-9">
            <div class="row">
              <div class="col">
                <app-manage-bank-accounts></app-manage-bank-accounts>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <app-authorized-payers></app-authorized-payers>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3">
            <div class="row">
              <div class="col-12 col-sm-6 col-lg-12">
                <app-all-card-balance></app-all-card-balance>
              </div>
              <div class="col-12 col-sm-6 col-lg-12">
                <app-tuition-balance></app-tuition-balance>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>