<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-7 col-xl-8">
      <div class="row">
        <div class="col">
          <ng-template #leftColumn></ng-template>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-5 col-xl-4">
      <div class="row">
        <div class="col">
          <ng-template #rightColumn></ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <p class="lead mb-3 px-3"><small>Want to add/remove Dashboard widgets? <a routerLink="../settings" style="white-space:nowrap;">Go to Settings.</a></small></p>
    </div>
  </div>
</div>
