@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
$mat-nkugold: (
  50: #ffc72c,
  100: #ffc72c,
  200: #ffc72c,
  300: #ffc72c,
  400: #ffc72c,
  500: #ffc72c,
  600: #ffc72c,
  700: #ffc72c,
  800: #ffc72c,
  900: #ffc72c,
  A100: #ffc72c,
  A200: #ffc72c,
  A400: #ffc72c,
  A700: #ffc72c,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$student-dashboard-primary: mat-palette($mat-nkugold);
$student-dashboard-accent:  mat-palette($mat-grey, 400, 200, 800);

// The warn palette is optional (defaults to red).
$student-dashboard-warn:    mat-palette($mat-red);
$student-dashboard-foreground:    mat-palette($mat-grey);
$student-dashboard-background:    $mat-dark-theme-background;

// Create the theme object (a Sass map containing all of the palettes).
$student-dashboard-theme: mat-light-theme($student-dashboard-primary, $student-dashboard-accent, $student-dashboard-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($student-dashboard-theme);