<div class="container-fluid pb-1">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <app-assignment-grades></app-assignment-grades>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <app-term-grades></app-term-grades>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8 col-xl-7">
      <app-grades-report></app-grades-report>
    </div>
    <div class="col-12 col-lg-4 col-xl-3">
      <mat-card class="dashboard-card grades-card">
        <mat-card-header class="dashboard-card-header">
          <mat-card-title class="dashboard-card-title">
            <h5>
              <small>
                Transcripts 
              </small>
            </h5>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-card-actions>
            <div class="col-12 mb-3">
              <button mat-raised-button type="button" class="btn-block" color="primary">Unofficial Transcript&emsp;<mat-icon class="md-24">picture_as_pdf</mat-icon></button>
            </div>
            <div class="col-12 mb-1">
              <button mat-raised-button type="button" class="btn-block" color="primary">Official Transcript&emsp;<mat-icon class="md-24">launch</mat-icon></button>
            </div>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
</div>

