<div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7">
        <div class="row">
          <div class="col">
            <mat-card class="dashboard-card">
              <mat-card-header class="dashboard-card-header">
                <mat-card-title class="dashboard-card-title">
                  <span class="float-right mr-3" style="margin-top: -0.65em;">
                      <button mat-icon-button matTooltip="Save Profile Pics" matTooltipPosition="left" matTooltipShowDelay="500"><mat-icon class="material-icons md-24">save</mat-icon></button>
                  </span>
                  <h5><small>Profile Pictures</small></h5>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content">
                <div class="row pb-3 align-items-center">
                  <div class="col-8">
                    <mat-form-field hintLabel="JPG, PNG, or GIF" style="width:100%">
                      <input matInput placeholder="Profile Pic" [value]="profilePic" readonly="true">
                    </mat-form-field>
                  </div>
                  <div class="col-4 text-right">
                    <button mat-raised-button color="primary" (click)="profileFileInput.click()">
                      <span>Select File</span>
                      <input #profileFileInput type="file" (change)="onProfileFileInput($event)" style="display:none;" />
                    </button>
                  </div>
                </div>
                <mat-divider color="accent" inset="true"></mat-divider>
                <div class="row pt-3 align-items-center">
                  <div class="col-8">
                    <mat-form-field hintLabel="JPG, PNG, or GIF" style="width:100%">
                      <input matInput placeholder="Banner Pic" [value]="bannerPic" readonly="true">
                    </mat-form-field>
                  </div>
                  <div class="col-4 text-right">
                    <button mat-raised-button color="primary" (click)="bannerFileInput.click()">
                      <span>Select File</span>
                      <input #bannerFileInput type="file" (change)="onBannerFileInput($event)" style="display:none;" />
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-card class="dashboard-card">
              <mat-card-header class="dashboard-card-header">
                <mat-card-title class="dashboard-card-title">
                  <span class="float-right mr-3" style="margin-top: -0.65em;">
                      <button mat-icon-button matTooltip="Save Dashboard Widget Preferences" matTooltipPosition="left" matTooltipShowDelay="500"><mat-icon class="material-icons md-24">save</mat-icon></button>
                  </span>
                  <h5><small>Dashboard Widgets</small></h5>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content widgets-settings">
                <mat-list>
                  <span *ngFor="let widget of widgets">
                    <mat-list-item >
                      <mat-icon matListIcon class="d-none d-sm-block">{{ widget.icon }}</mat-icon>
                      <p matLine style="white-space:normal">{{ widget.title }}</p>
                      <mat-form-field class="mr-3" style="width: 60px;">
                        <mat-select placeholder="Order" [(value)]="widget.order" [disabled]="widget.isDefault">
                            <mat-option *ngFor="let num of orderValues" value="{{ num }}">{{ num }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field class="mr-3" style="width: 74px;" [ngClass]="{'not-allowed-cursor' : widget.isDefault}">
                        <mat-select placeholder="Column" [(value)]="widget.column" [disabled]="widget.isDefault">
                          <mat-option value="left">Left</mat-option>
                          <mat-option value="right">Right</mat-option>
                        </mat-select>
                      </mat-form-field>
                      <span *ngIf="widget.isDefault">
                        <mat-icon class="text-danger" style="opacity:.5; cursor:not-allowed" *ngIf="widget.show">remove_circle_outline</mat-icon>
                      </span>
                      <span (click)="toggleWidget(widget)" *ngIf="!widget.isDefault">
                        <mat-icon class="text-success" style="cursor:pointer" *ngIf="!widget.show">add_circle_outline</mat-icon>
                        <mat-icon class="text-danger" style="cursor:pointer" *ngIf="widget.show">remove_circle_outline</mat-icon>
                      </span>
                    </mat-list-item>
                    <mat-divider color="accent"></mat-divider>
                  </span>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="row">
          <div class="col">
            <mat-card class="dashboard-card">
              <mat-card-header class="dashboard-card-header">
                <mat-card-title class="dashboard-card-title">
                  <span class="float-right mr-3" style="margin-top: -0.65em;">
                      <button mat-icon-button matTooltip="Save Notification Preferences" matTooltipPosition="left" matTooltipShowDelay="500"><mat-icon class="material-icons md-24">save</mat-icon></button>
                  </span>
                  <h5><small>Notifications</small></h5>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="dashboard-card-content widgets-settings">
                <mat-list>
                  <span *ngFor="let notification of notifications" >
                    <mat-list-item >
                      <mat-icon matListIcon>{{ notification.icon }}</mat-icon>
                      <p matLine style="white-space:normal">{{ notification.title }}</p>
                      <mat-slide-toggle color="primary" checked="notification.show"></mat-slide-toggle>
                    </mat-list-item>
                    <mat-divider color="accent"></mat-divider>
                  </span>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
